.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 80px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;

    &__nav{
        display: flex;

        &-arrow{
            width: 30px;
            height: 30px;
            transition: scale 0.2s ease-in-out;
            cursor: pointer;

            &:hover{
                scale: 1.2;
            }
        }
    }

    &__logo {
        line-height: 0;
        
        &-img{
            max-width: 45px;
            max-height: 45px;
            transition: transform 0.2s ease-in-out;

            &:hover{
                transform: rotate(-10deg);
            }
        }
    }

    &__loader{
        width: 30px;
        height: 30px;
    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        margin-left: 15px;

        &-logout{
            cursor: pointer;
            background: none;
        }

        & * {
            color: #FFF;
            transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

            &:hover{
                color: #0085FF;
            }

            &:not(:first-child) {
                margin-left: 15px;
            }
        }
    }
}
