.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 60px;
    background-color: #000;
    color: #fff;

    &__logo {
        line-height: 0;
        
        &-img{
            max-width: 45px;
            max-height: 45px;
            transition: transform 0.2s ease-in-out;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    &__list {
        display: flex;

        & * {
            margin-left: 15px;
            &:not(:first-child) {
                margin-left: 15px;
            }
        }
    }
}
